@use '../../core/' as *;

.modal {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  padding: $standard-padding;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
}

.edit-dish-form {
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 3rem $standard-padding;
  border-radius: 2rem;
  background-color: $color-secondary;
  .buttons-container {
    justify-content: center;
    button {
      padding: 1ch 2ch;
      background-color: $color-primary;
    }
  }
  input {
    max-width: 100%;
  }
}

.edit-dish-form .buttons-container .exit-edit-button {
  background-color: rgb(233, 70, 70);
}

.filter-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  label {
    margin-bottom: 0.5ch;
  }
  #category-filter {
    margin-bottom: 1rem;
  }
}

.dish-container {
  position: relative;
  margin: 0;
  padding: 1.5rem;
  border-radius: 1ch;
  background-color: $color-secondary;
  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.appetizers-content:empty::before {
  content: "Det finns inga sparade förrätter";
  color: #888;
  font-style: italic;
}

.mains-content:empty::before {
  content: "Det finns inga sparade huvudrätter";
  color: #888;
  font-style: italic;
}

.desserts-content:empty::before {
  content: "Det finns inga sparade efterrätter";
  color: #888;
  font-style: italic;
}

.drinks-content:empty::before {
  content: "Det finns inga sparade drycker";
  color: #888;
  font-style: italic;
}

.buttons-container-edit {
  display: flex;
  gap: 2ch;
  .edit-dish-button {
    color: rgb(208, 208, 253);
    text-decoration: underline;
  }
  .delete-dish-button {
    color: red;
    text-decoration: underline;
  }
}

.top-right-exit {
  position: absolute;
  display: flex;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2em;
}

@media (max-width: 400px) {
  .modal {
    padding: 0;
  }
  .edit-dish-form {
    border-radius: 0;
  }
}