@use '../../core/' as *;

.modal {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  padding: $standard-padding;
  background-color: rgba(0, 0, 0, 0.8);
}

.edit-dish-form {
  width: 100%;
  max-width: 800px;
  padding: 4rem;
  border-radius: 2rem;
  background-color: $color-secondary;
  .buttons-container {
    margin-top: 2rem;
    button {
      background-color: $color-primary;
    }
  }
}

.edit-dish-form .buttons-container .exit-edit-button {
  background-color: rgb(233, 70, 70);
}

#category-filter {
  margin-top: 1rem;
}

.dish-container {
  position: relative;
  margin-bottom: 2.5rem;
  padding: 1.5rem;
  border-radius: 1ch;
  background-color: $color-secondary;
}


.buttons-container-edit {
  display: flex;
  gap: 2ch;
  .edit-dish-button {
    color: rgb(208, 208, 253);
    text-decoration: underline;
  }
  .delete-dish-button {
    color: red;
    text-decoration: underline;
  }
}
