@use '../../core/' as *;
.change-week-container {
  display: flex;
  gap: 1ch;
  align-items: center;
  #week {
    width: 4ch;
    padding: 0;
    text-align: center;
  }
  button {
    margin-left: 1.5ch;
    padding: 1ch 1.5ch;
    border-radius: 1ch;
    background-color: $color-secondary;
    &:hover {
        transform: scale(1.03);
    }
    &:active {
      transform: scale(1);
    }
}
}

.start-main {
  margin-top: 1.5rem;
}

.menu-header {
  max-width: $p-width;
  h2 {
    font-size: 1.8em;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  h3 {
    margin-bottom: 1rem;
    font-size: 1.6em;
    text-decoration: under;
  }
  
}

.menu-container > div {
  position: relative;
  max-width: $p-width;
}

.dish-container {
  display: grid;
  gap: 0.5ch;
  margin-bottom: 2rem;
  color: $text-muted;
}