@use '../core/' as *;

header {
  padding: 1rem 0;
  background-color: $color-secondary;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-button {
  display: flex;
  font-size: 2em;
}

.logged-in-status {
  color: red;
}

@media (min-width: 992px) {
  .hamburger-button {
    display: none;
  }
}